<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysClient">
        <id column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="client_key" property="clientKey" />
        <result column="client_secret" property="clientSecret" />
        <result column="grant_type" property="grantType" />
        <result column="device_type" property="deviceType" />
        <result column="active_timeout" property="activeTimeout" />
        <result column="timeout" property="timeout" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        t.id,
        t.client_id,
        t.client_key,
        t.client_secret,
        t.grant_type,
        t.device_type,
        t.active_timeout,
        t.timeout,
        t.status,
        t.deleted,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
    </sql>

</mapper>
