<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysDept">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="owner_user_id" property="ownerUserId" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        t.id,
        t.pid,
        t.name,
        t.remark,
        t.owner_user_id,
        t.sort,
        t.version,
        t.deleted,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
    </sql>

    <select id="getList" resultType="vip.mate.system.entity.SysDept">
        select t1.*, (select t2.name from mate_sys_dept t2 where t2.id = t1.pid) parentName from mate_sys_dept t1 where t1.deleted = 0
        order by t1.sort asc
    </select>

    <select id="getIdAndPidList" resultType="vip.mate.system.entity.SysDept">
        select t1.id, t1.pid from mate_sys_dept t1 where t1.deleted = 0
    </select>

</mapper>
