<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysLoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysLoginLog">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="real_name" property="realName" />
        <result column="ip" property="ip" />
        <result column="address" property="address" />
        <result column="browser" property="browser" />
        <result column="os" property="os" />
        <result column="status" property="status" />
        <result column="business_type" property="businessType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        t.id,
        t.username,
        t.real_name,
        t.ip,
        t.address,
        t.browser,
        t.os,
        t.status,
        t.business_type,
        t.create_time,
    </sql>

</mapper>
