<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.mate.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.mate.system.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="avatar" property="avatar" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="org_id" property="orgId" />
        <result column="super_admin" property="superAdmin" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        t.id,
        t.username,
        t.password,
        t.real_name,
        t.avatar,
        t.gender,
        t.email,
        t.mobile,
        t.org_id,
        t.super_admin,
        t.status,
        t.version,
        t.deleted,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
    </sql>

</mapper>
