package ${package.Controller};

import cn.dev33.satoken.annotation.SaCheckPermission;
import lombok.AllArgsConstructor;
import com.github.xiaoymin.knife4j.annotations.ApiOperationSupport;
import com.github.xiaoymin.knife4j.annotations.ApiSupport;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.web.bind.annotation.*;
#if(${codeConfig.controllerConfig.ifExtend})
import ${codeConfig.controllerConfig.extendClass};
#end
import ${codeConfig.controllerConfig.commonReturnClass};
import ${codeConfig.serviceConfig.pageReturnClass};
import ${req};
import ${vo};
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import org.springframework.validation.annotation.Validated;
import jakarta.validation.Valid;
#if(${codeConfig.controllerConfig.ifHasRequestPrefix})
#if(${codeConfig.controllerConfig.ifFixedRequestPrefix})
#else
import ${codeConfig.controllerConfig.requestConstantClass};
#end
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping(#if(${codeConfig.controllerConfig.ifHasRequestPrefix})#if(${codeConfig.controllerConfig.ifFixedRequestPrefix})"${codeConfig.controllerConfig.requestPrefix}#else${codeConfig.controllerConfig.requestConstantClassNameAndValue} + "#end/#else"/#end#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@AllArgsConstructor
@ApiSupport(author = "matevip", order = 1)
@Tag(description = "${table.entityPath}", name = "${table.comment}管理")
@Validated
public class ${table.controllerName} #if(${codeConfig.controllerConfig.ifExtend})extends ${codeConfig.controllerConfig.extendClassName} #end{

    private final ${entity}Service ${table.entityPath}Service;

    @GetMapping("/page")
    @ApiOperationSupport(order = 1)
    @Operation(summary = "列表查询",description = "权限字符串：${table.entityPath}:page")
    @SaCheckPermission("${table.entityPath}:page")
    public ${codeConfig.controllerConfig.commonReturnClassName}<${codeConfig.serviceConfig.pageReturnClassName}<${entity}VO>> queryPage(${entity}Req req) {
        return ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.successMethod}(${table.entityPath}Service.queryPage(req));
    }

    @PostMapping("/add")
    @ApiOperationSupport(order = 2)
    @Operation(summary = "新增",description = "权限字符串：${table.entityPath}:add")
    @SaCheckPermission("${table.entityPath}:add")
    public ${codeConfig.controllerConfig.commonReturnClassName}<String> create(@Valid @RequestBody ${entity} entity){
        boolean flag = ${table.entityPath}Service.createData(entity);
        return flag ? ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.successMethod}("创建成功") : ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.failMethod}("创建失败");
    }

    @PutMapping("/update")
    @ApiOperationSupport(order = 3)
    @Operation(summary = "修改",description = "权限字符串：${table.entityPath}:update")
    @SaCheckPermission("${table.entityPath}:update")
    public ${codeConfig.controllerConfig.commonReturnClassName}<String> update(@Valid @RequestBody ${entity} entity){
        boolean flag = ${table.entityPath}Service.updateData(entity);
        return flag ? ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.successMethod}("修改成功") : ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.failMethod}("修改失败");
    }

    @DeleteMapping("/delete")
    @ApiOperationSupport(order = 4)
    @Operation(summary = "删除",description = "权限字符串：${table.entityPath}:del")
    @SaCheckPermission("${${table.entityPath}:del")
    public ${codeConfig.controllerConfig.commonReturnClassName}<String> delete(@RequestParam("${idName}") ${idType} ${idName}){
        boolean flag = ${table.entityPath}Service.removeData(id);
        return flag ? ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.successMethod}("删除成功") : ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.failMethod}("删除失败");
    }

    @GetMapping("/get")
    @ApiOperationSupport(order = 5)
    @Operation(summary = "单条查询",description = "权限字符串：${table.entityPath}:index")
    @SaCheckPermission("${table.entityPath}:index")
    public ${codeConfig.controllerConfig.commonReturnClassName}<${entity}VO> getOne(@RequestParam("${idName}") ${idType} ${idName}){
        return ${codeConfig.controllerConfig.commonReturnClassName}.${codeConfig.controllerConfig.successMethod}(${table.entityPath}Service.getData(id));
    }
}

